@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: radial-gradient(#5f119fb7, #fff0f0);
    min-height: 100vh;
}

/* Header - Navegação ↓ */

.container {
    max-width: auto;
    margin: 0 auto;
    padding: 0 4%;
    background: #fff0f0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    
}

nav .menu-icon {
    cursor: pointer;
    display: none;
}

nav img {
    width: 9rem;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    padding: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: #60119f;
}

nav ul li a:hover {
    color: #a741af;
}

ul .button {
    border: 1px solid #60119f;
    background: #60119f;
    padding: 6px 16px;
    border-radius: 20px;
    color: #fff;
    transition: all ease 0.3s;
}

ul .button:hover {
    background: #fff;
    color: #60119f;
}

/* Fim da barra de navegação ↑ */

/* Main - Conteúdo ↓ */

main {
    margin: 20px 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-main {
    width: 40%;
}

.text-main h2 {
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: 600;
    color: #fff;
}

.text-main h2 b {
    color: #60119f;
}

.text-main p {
    color: #60119f;
    font-weight: 600;
    margin: 20px;
}

main .contact-us .api-whatsapp {
    border: 1px solid #087a20;
    border-radius: 30px;
    background-color: #087a20;
    width: 40%;
    display: block;
    height: 50px;
    padding: 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.image-main {
    width: 40%;
}

main img {
    width: 100%;
}


