@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: radial-gradient(circle at 50%, #fff0f0, #5f119fb7);
    min-height: 100vh;
}

/* Header - Navegação ↓ */

.container {
    max-width: auto;
    margin: 0 auto;
    padding: 0 4%;
    background: #fefefe;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    
}

nav .menu-icon {
    cursor: pointer;
    display: none;
}

nav img {
    width: 8rem;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    padding: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: #60119f;
}

nav ul li a:hover {
    color: #a741af;
}


ul .button {
    border: 3px solid #60119f;
    background: #60119f;
    padding: 6px 16px;
    border-radius: 20px;
    color: #fff;
    transition: all ease 0.3s;
}

ul .button:hover {
    background: transparent;
    color: #60119f;
}

#menu-toggle {
    width: 75%;    
}

/* Fim da barra de navegação ↑ */

/* Main - Conteúdo ↓ */

main {
    margin: 3rem 0 0 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .text-main {
    width: 40%;
    
}

.text-main h2 {
    font-size: 3.5rem;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    text-shadow: 2px 2px 5px #7e6195;
}

.text-main h2 b {
    color: #60119f;
}

span {
    font-weight: 300;    
}

main p {
    color: #3b0e5f;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    margin: 20px 20px 0 0;
    text-align: justify;
    text-shadow: 2px 3px 15px rgb(214, 208, 208);
}

main #p-news {
    margin: 2rem 0rem 0 0;
    color: #3b0e5f;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1rem;
    text-align: justify;
    text-shadow: none;
    border: 0.3rem dotted #ffffff;
    padding: 0.8rem 0.3rem;
}

main .contact-us .api-whatsapp {
    border: 1px solid #087a20;
    border-radius: 2rem;
    background-color: #087a20;
    width: 100%;
    display: block;
    height: 3.1rem;
    padding: 0.6rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 3rem 0 0 0;
    transition: all 0.5s;
    cursor: pointer;
    
}

main .contact-us .api-whatsapp:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

.social-media {
    margin: 3rem 0 0 0;
    text-align: left;
}

.social-media i {
    font-size: 2rem;
    margin: 0 10px;
    color: #fff;
    background: #60119f;
    padding: 8px 12px;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.social-media i:hover {
    -webkit-filter: drop-shadow(15px 10px 10px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 10px rgba(0,0,0,.5));
}

#facebook {
    padding: 8px 15px;
}

.image-main {
    width: 60%;
    text-align: center;
}

.image-main img {
    width: 60%;
    margin: -1rem 0 0 0;
}

footer {
    width: 0 auto;
    margin: 2rem 0 0 0;
    padding: 0.8rem;
    background: #fefefe;
}

#responsiveness-footer {
    text-align: center;
    font-size: 0.9rem;
    color: #2c044c;
}

#responsiveness-footer a {
    text-decoration: none;
}

/* Página Quem Somos */


@media (max-width: 600px) {
    
    nav .menu-icon {
        display: inline;  
    }

    nav .menu-icon img {
        width: 2.5rem;
    }

    nav img {
        width: 7.4rem;
    }

    nav ul {
        position: fixed;
        width: 65%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translate(-100%);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: 0.3s ease-in;
        background-color: #a841af;
    }

    nav ul.active {
        transform: translateX(0);

        background: linear-gradient(70deg, #5f119f, #fff0f0d5);
    }

    nav ul li {
        padding: 10px;
    }

    nav ul li a {
        font-size: 17px;
        color: #fff;
        margin: 10px;
    }

    nav .button {
        font-size: 17px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: center;
        margin: 3rem 0 0 0;
        padding: 0;
        
    }

    main .text-main {
       width:  85%;
    }

    #h2-responsiveness {
        font-size: 3rem;
        line-height: 2.7rem;
        text-align: left;
    }

    #h2-responsiveness-about {
        font-size: 1.9rem;
        line-height: 2.7rem;
        text-align: left;
    }

    span {
        font-size: 3rem;
    }

    
    .text-main p {
        font-size: 1rem;
        line-height: 1.2rem;
        font-weight: 500;
        margin: 2rem 0 0 0;
    }
    
    main .p-news {
        color: #2c044c;
        font-weight: 600;
    }

    #btn-responsiveness {
        width: 100%;
        margin: 3rem 0 0 0;
        
    }

    .social-media {
        text-align: center;
    }

    .social-media i {
        font-size: 1.8rem;
        margin: 0.2rem 0.9rem 0 0;
    }

    .image-main {
        width: 100%;
        text-align: center;
    }

    #logo-end-responseveness {
        margin: 4rem 0 0 0;
    }

    #responsiveness-footer {
        text-align: center;
        font-size: 0.7rem;
        color: #2c044c;
    }
    
    #responsiveness-footer a {
        text-decoration: none;
    }
}